<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008824954535-5soco3rk4bm85iq6s4rts55foot4689p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008824954535-5soco3rk4bm85iq6s4rts55foot4689p</string>
	<key>API_KEY</key>
	<string>AIzaSyBOh-D2N6a7VvznGRZxAMfTTvlvO3c4ROg</string>
	<key>GCM_SENDER_ID</key>
	<string>1008824954535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.p2p.pallypaddy</string>
	<key>PROJECT_ID</key>
	<string>pallypaddyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pallypaddyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008824954535:ios:5d8d6b9b082a601f383582</string>
</dict>
</plist>